<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DeleteEmp</title>
</head>
<body>
	<div align="center">
		<form th:action="@{'/employee/' + ${id}}" method="post">
			<table border="1">
				<tr>
					<th colspan="2">確定要刪除id:<span th:text="${id}"></span>的員工嗎?</th>
				</tr>
				<tr>
					<td>
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="確定">
					</td>
					<td>
						<input type="button" onClick="location.href='http://localhost:8080/Spring_MVC_RESTful/employee'" value="取消">
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
<style>
	th,td {
		font-size: 16pt;
		font-weight: bolder;
		text-align: center;
	}
</style>
</html>