<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwei.mybatis.mapper.SelectMapper">
	
	<!-- User getUserById(@Param("id")int id) -->
	<select id="getUserById" resultType="User">
		select * from t_user where id = #{id} 
	</select>
	
	<!-- List<User> getAllUsers() -->
	<select  id="getAllUsers" resultType="User">
		select * from t_user
	</select>	
	
	<!-- List<User> getUserByUsername(@Param("username")String username) -->
	<select id="getUserByUsername" resultType="User">
		select * from t_user where username = #{username}
	</select>
	
	<!-- Integer getAgeById(@Param("id")Integer id) -->
	<select id="getAgeById" resultType="java.lang.Integer">
		select age from t_user where id = #{id}
	</select>
	
	<!-- Integer getCount() -->
	<!-- 
		MyBatis中為Java中常用的類型設置了類型別名
		可參考MyBatic的pdf文件p.15
	 -->
	<select id="getCount" resultType="Integer">
		select count(*) from t_user
	</select>
	
	<!-- Map<String,Object> getUserByIdToMap(@Param("id") Integer id) -->
	<select id="getUserByIdToMap" resultType="map">
		select * from t_user where id = #{id}
	</select>
	
	<!-- List<Map<String,Object>> getAllUsersToMap() -->
	<!-- <select id="getAllUsersToMap" resultType="map">
		select * from t_user
	</select> -->
	
	<!-- Map<String,Object> getAllUsersToMap() -->
	<select id="getAllUsersToMap" resultType="map">
		select * from t_user
	</select>
	
</mapper>